* text=auto

*.cs diff=csharp
*.csproj diff=xml
*.sln text eol=lf
*.slnx text eol=lf
*.md text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.json text eol=lf
*.xml text eol=lf
*.props text eol=lf
*.targets text eol=lf

*.png binary
*.dll binary
*.nupkg binary
*.snupkg binary
